footer {
    background-color: black;
}

.logo-skills {
    width:100px;
}

.logo-figure {
    display: inline-block;
    margin-left: 10px;
}

.profile-img {
    border-radius: 50%;
    padding-left: auto;
    width:250px;
    height: 250px;
    filter: brightness(75%);
}

div.background-image-container {
    background-image: url('./assets/images/jumbo-image-grayscale.png');
}

/* .about-page div.about-page-intro {
    background-image: url('./assets/images/img-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    opacity: 0.8;
    filter: brightness(20%);
} */

.about-page div.about-page-intro {
    position: relative;
    padding: 0 5em 5em;
    height: 500px;
    overflow: hidden;

  }
  
  .about-page div.about-page-intro::before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background-image: url("./assets/images/img-01.jpg");
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
    opacity: 0.8;
  }
  

.social-button {
    display: inline-block;
    background-color: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99;
    border-radius: 28%;
    /* box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05); */
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear;
}

.social-button .fa {
    font-size: 38px;
    vertical-align: middle;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-button.github .fa {
    color: #563D7C;
}

.social-button.github:hover .fa {
    color: white;
}

a.social-button.github:hover{
    background-color: #563D7C;
}

.social-button.linkedin .fa {
    color: #0177B5;
}

.social-button.linkedin:hover .fa {
    color: white;
}

a.social-button.linkedin:hover{
    background-color: #0177B5;
}

.social-button.mailto .fa {
    color: #dd0000;
}

.social-button.mailto:hover .fa {
    color: white;
}

a.social-button.mailto:hover{
    background-color: #dd0000;
}

.footer-container {
    padding-bottom: 10px;
}

footer .footer-container h4 a {
    color: white;
    margin-top: 0;
}

footer .footer-container p {
    margin: 0;
}

ul.nav.navbar-nav li a:hover{
    color:blue;
}

@media (min-width: 768px) {
.navbar-nav>li>a {
    margin: 26.5px 15px;
    padding: 0;
}
}
body {
    height: 100%;
}

.home-page .img-responsive {
    opacity: 0.5;
}

.carousel-inner>.item>img {
    height: 560px;
    width: 1140px;
}

div.carousel-inner div.item div.carousel-caption {
    text-align: left;
    margin-left: 30px;
    left: 0;
    color: black;
    padding-bottom: 20px;
}

.carousel-inner div.item {
    border: 1px grey solid;
}

h3.special-case {
    margin-bottom: 10px;
}

.contact-us-page .contact-us-header {
    background-color: #f1f1f1;
    padding-left: 10px;
}

.contact-us-page input, .contact-us-page textarea {
    border: 1px #c2c2c2 solid;
}

.about-page div.row-items  {
    /* justify-content: center;
    align-items: center; */
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* float: none; */
    /* text-align: center; */
    text-align: left;
    margin-top: 10px;
}

.about-page div .portfolio-image {
    border: 2px grey solid;
    border-radius: 2%;
}

.about-page .projects-header {
    background-color: #f1f1f1;
    text-align: center;
}

.about-page .about-page-intro h1 {
    text-align: left;
    color: white;
    text-shadow: 0 1px 3px #000;
    font-weight: 500;
    padding-top: 0;
}

.about-page .about-page-intro p {
    text-align: left;
    color: white;
    text-shadow: 0 1px 3px #000;
    font-weight: 500;
    padding-top: 0;
    font-size: 1.8rem;
    line-height: 40px;
}

.about-page .project-components {
    display: inline-block;
    margin-right:10px;
}

.about-page .project-components.components {
    border: 1px black solid;
    padding: 2px;
    border-radius: 10%;
    color: rgb(57, 115, 157);
    background-color:  rgb(225, 236, 244);
}

.about-page .project-components.components img.component-icon {
    width: 20px;
}

.about-page p span a {
    display: inline-block;
    font-size: 30px;
    margin: 0 10px;
}

/* .about-page .img-thumbnail {
    width: 140px;
} */

@media only screen and (max-width: 768px) {
    .about-page .about-page-intro p {
        font-size: 1.5rem;
        line-height: 30px;
    }
  }